* {
  box-sizing: border-box;
  color: white;
}
body {
  background-color: #205D86;
  font-family: 'Poppins', sans-serif;
}
ul, li {
  list-style-type: none;
}
header {
  background-image: url('https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/vfPFP3W/movie-theater-film-reel-background-in-seamless-loop_xk6ivnb9__F0000.png');
  background-size: cover;
  height: 200px;
  opacity: .8;
  padding-top: 85px;
  margin-bottom: 40px;
}
header h1 {
  text-transform: uppercase;
  margin-top: 20px;
  line-height: 0;
  margin: right 40px;
}
header h1 span {
  font-weight: 600;
  font-size: 5rem;
  color: tomato;
}
/* input:hover {
  color: blue;
  background-color: yellow;
} */
ul {
  font-family: 'Muli', sans-serif;
}
form {
  background-color: #1E8BC3;
}
header p {
  font-weight: 500;
  letter-spacing: 3px;
  margin-left: 4px;
}
input {
  width: 94%;
  border: 2px solid #000000;
  height: 30px;
  padding: 0 20px;
}
.header-container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
.outside-container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
.container {
  margin-left: auto;
  margin-right: auto;
  background: #007FAA;
  padding: 50px;
}
.white {
  color: white;
}
.blue-background:focus {
  background: tomato;
}
.yellow-background:focus {
  background: yellow;
}
.black {
  color: black;
}
.css-input {
  display: block;
}
#search-button {
  margin-bottom: 30px;
  margin-top: 10px;
}
#search-button:hover {
  transform: rotate(360deg);
}
.results {
  width: 100%;
  background-color: #1E8BC3;
  margin-left: auto;
  margin-right: auto;
  padding-right: 30px;
}
.poster-img {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.button-container {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
  padding-top: 20px;
}
.button {
  border-radius: 10px;
  transition-duration: 1s;
  transition-timing-function: linear;
  cursor: pointer;
  font-family: 'PT Serif', serif;
  font-size: 15px;
  margin-bottom: 10px;
  background-color: #6D8891;
  color: white;
  min-width: 100px;
  height: 30px;
  border: 2px solid #000000;
  background-color: transparent;
  transition: background-color 1s, color 1s, transform 1s;
}
.button:hover {
  background-color: tomato;
  transform: scale(1.4);
}